@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(to right, #142c3d, #2e5f81);
    --fonte-principal: "Oswald";
    --azul: #002F52;
    --negro-transparente: #0000004f;
    --blanco-transparente: #ffffff2a;
    --azul-degrade: linear-gradient(to right, #142c3d, #2e5f81);
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}